<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Data</title>
</head>
<body>
    <p>Survey id is : <strong>{{ survey_id }}</strong></p>
    <!-- <h1>Survey Data for {{ survey_data.survey.survey_name }}</h1>
    <ul>
        {% for interview in survey_data.interviews %}
            <li>
                <h2>Interview: {{ interview.interview_id }}</h2>
                <ul>
                    {% for interview_data in interview.interviewdata_set.all %}
                        <li>
                            <b>Question:</b> {{ interview_data.question_id }} - {{ interview_data.question.question_text }}
                            <br>
                            <b>Answer:</b> {{ interview_data.answer }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul> -->
</body>
</html>